.wrapper-container {
  max-width: 1440px;
  margin: auto;
  /* overflow: hidden; */
}

.leftShadow {
  width: 775px;
  height: 775px;
  flex-shrink: 0;
  border-radius: 775px;
  opacity: 0.5;
  background: rgba(255, 233, 201, 0.7);
  filter: blur(250px);
  position: absolute;
  top: -34%;
  left: -20%;
}

.rightShadow {
  width: 775px;
  height: 775px;
  flex-shrink: 0;
  border-radius: 775px;
  opacity: 0.5;
  background: rgba(255, 233, 201, 0.7);
  filter: blur(250px);
  position: absolute;
  bottom: 0;
  right: -25%;
}

.signin-form {
  background: rgba(251, 188, 94, 0.05);
  backdrop-filter: blur(4px);
}

.input-field {
  border: 1px solid #FFF;
  border-radius: 8px !important;
  padding-bottom: 16px !important;
  height: 55px !important;
  max-width: 500px;
  /* margin: auto; */
}

.input-label {
  color: rgba(255, 255, 255, 0.80) !important;
  /* font-family: Montserrat ; */
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  padding-bottom: 10px;
  letter-spacing: 1px;
  margin: 0 !important;
}

.create-account-btn {
  max-width: 500px;
}

.btn-gradient {
  background: linear-gradient(90deg, #FBBC5E 0.13%, #F3A151 99.89%);
}

.btn-gradient:disabled {
  background: #7A7A7A;
}

.auth-form {
  position: relative;
}

.auth-form::before {
  content: "";
  width: 35vw;
  height: 35vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.5;
  background: rgba(255, 233, 201, 0.70);
  filter: blur(250px);
  z-index: -1;
  margin-top: 6rem;
}

.auth-logo {
  top: 25px;
  left: 25px;
  width: auto;
  height: auto;
  max-width: 100%;
}

.divider {
  position: relative;
  align-items: center;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1 0 auto;
  height: 1px;
  background-color: #505050;
}

.divider span {
  flex: 0 0 auto;
}

.clip-text {
  background: linear-gradient(90deg, #FBBC5E 0.13%, #F3A151 99.89%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landingPage-leftShadow{

  width: 600px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 600px;
  opacity: 0.5;
  background: rgba(255, 233, 201, 0.7);
  filter: blur(166px);
  position: absolute;
  top: -36%;
  left: -14%;
}

.landingPage-rightShadow{

  width: 600px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 600px;
  opacity: 0.5;
  background: rgba(255, 233, 201, 0.7);
  filter: blur(166px);
  position: absolute;
  top: -24%;
  right: -13%;
}

.shadow-top {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}

.shadow-bottom {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75%; 
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}


.appartment-card-left-shadow {
  width: 600px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 600px;
  opacity: 0.5;
  background: rgba(255, 233, 201, 0.7);
  filter: blur(166px);
  position: absolute;
  top: -24%;
  left: -13%;
}


.appartment-card-right-shadow {
  width: 700px;
  height: 700px;
  flex-shrink: 0;
  border-radius: 600px;
  opacity: 0.4;
  background: rgba(255, 233, 201, 0.7);
  filter: blur(166px);
  position: absolute;
  top: 480%;
  right: -13%;
}

.menu-bar-after{
  display: none;
}

.hamburger-list{
  top: 60px;
  background-color: black;
  z-index: 12;
  left: 0;
  width: 100%;
}

.marketplace_tabs{

}
@media only screen and (max-width: 580px) {  
  .menu-bar-before{
    display: none;
  }
  .menu-bar-after{
    display: flex;
  }
  .marketplace_tabs{
margin: 2px 5px  !important;
  }
  .explore-apparment-card{
    padding: 10px 12px 0 !important;
  }
.explore-apparment-card-content{
  flex-direction: column;
}
.explore-apparment-card-content button{
  margin-top: 10px;
  padding: "3px 16px" !important;
}
.apartment-theme-card-img{
  width:170px !important;
  height : 90px !important;
}

.apartment-theme-card-soon{
  top:40px !important;
  left: 52px !important;
}
.apartment-gaming-card{

  height: 165px !important;
  width: 300px !important;
}
.suggested-apartment-card-img{
  min-height: 200px !important;
  height: 200px !important;
}
}



@media only screen and (max-width: 420px) {  
  .marketplace_tabs .MuiTab-root{
    margin-right: 3px !important;
    font-size: 7.7px;
  }

}
